<nz-modal 
[(nzVisible)]="isVisibleDelete"
[nzOkLoading]="isLoadingDelete"
[nzTitle]="'Xóa công việc'"
nzOkText="Xác nhận" 
nzCancelText="Hủy"
(nzOnOk)="handleOk()"
(nzOnCancel)="handleCancel()"
>

  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="[16,48]">
        <span>Bạn có chắc chắn muốn xóa <span style="color: red; font-weight: 700;">{{nameJob}}</span> không? </span>
    </div>

  </ng-container>
</nz-modal>



