<nz-modal
  [(nzVisible)]="isVisibleDeleteStatus" 
  [nzOkLoading]="isLoading"
  nzOkText="Xác nhận" 
  nzCancelText="Hủy" 
  [nzTitle]="'Xóa trạng thái'" 
  (nzOnCancel)="handleCancel()" 
  (nzOnOk)="handleOk()" 
  >
  <ng-container *nzModalContent>
    <span >Bạn có chắc chắn xóa <span class="textDeleteRed">
      {{nameStatus}}
    </span> không ?</span>
  </ng-container>
</nz-modal> 
