/* css của link và back*/
.breadcrumb-color {
    color: #2B78E4;
}
.backAndLink{
    display: flex; 
    align-items: center; 
    margin-bottom: 50px;
}
.link nzSeparator,
.link .link-item{
    font-size: 20px;
    font-weight: bold;
}
.link .link-item:hover{
    opacity: 0.6;
    cursor: pointer;
    direction: 0.5s;
}
.back{
    margin-right: 10px;
    display: flex;
    align-items: center;
}
.back>.back-icon{
    font-size: 20px;
    color: black;
    /* font-weight: bolder; */
}
.back>.back-icon:hover {
    opacity: 0.6;
    cursor: pointer;
    direction: 0.5s;
}
.last-item a {
    color: black;
}
/* hết link và back */

/* header */
.header-modal-job{
    margin-bottom: 30px;
}
.header-modal-job>.item-left{
   display: flex;
    margin-right: auto;
    justify-content: end;
}
.icon-search{
    display: flex; 
    align-items: center;
}
.add-button{
    margin-right: 10px;
}


/* pagination */
.pagination{
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;
}   
