<nz-modal nzOkText="Xác nhận" nzCancelText="Hủy" [(nzVisible)]="isVisible" [nzTitle]="titleJob" (nzOnCancel) = "handleCancel()" (nzOnOk)="handleOk()">
  <ng-container *nzModalContent>
    <div nz-row [nzGutter]="[16,48]">
      <div nz-col class="gutter-row" [nzSpan]="6">
        <p>Công việc:</p>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="18">
        <input nz-input placeholder="Tên công việc" [(ngModel)]="nameJob" (input)="onInput()"  name="maxlength" maxlength="30" />
        <span *ngIf="showValidate" class="validateInput">Vui lòng nhập tên công việc</span>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="6">
        <p>Độ ưu tiên:</p>
      </div>
      <div nz-col class="gutter-row" [nzSpan]="18">
        <div class="inner-box">
          <nz-select [(ngModel)]="priority"  style="width: 100%;">
            <nz-option nzValue="ONE" nzLabel="1"></nz-option>
            <nz-option nzValue="TWO" nzLabel="2"></nz-option>
            <nz-option nzValue="THREE" nzLabel="3"></nz-option>
            <nz-option nzValue="FOUR" nzLabel="4"></nz-option>
            <nz-option nzValue="FIVE" nzLabel="5"></nz-option>
          </nz-select>
        </div>
      </div>
        <div *ngIf="item.itemData.hasChild !== true" nz-col class="gutter-row" [nzSpan]="6">
          <p>Trạng thái:</p>
        </div>
        <div *ngIf="item.itemData.hasChild !== true" nz-col class="gutter-row" [nzSpan]="18">
          <div class="inner-box">
            <nz-select [(ngModel)]="idStatus" (ngModelChange)="onChangeNameStatus($event)" (click)="handleGetAllStatus()" style="width: 100%;">
              <nz-option  *ngFor="let option of optionStatus" [nzLabel]="option.label" [nzValue]="option.value"></nz-option>
            </nz-select>
          </div>
        </div>
    </div>
  </ng-container>
</nz-modal>
